<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-MC2T0PYK05"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-MC2T0PYK05');
	</script>

	<link rel="stylesheet" href="{{ '/assets/uswds/css/styles.css' | url }}">
	<link rel="stylesheet" href="{{ '/css/header.css' | url }}" type="text/css">
	<link rel="stylesheet" href="{{ '/css/site.css' | url }}" type="text/css">

	<script src="{{ '/assets/uswds/js/uswds-init.min.js' | url }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/fuzzysort@2.0.1/fuzzysort.min.js"></script>
</head>