---
layout: default
pagination:
  data: schools
  size: 1
  alias: school
title: "{{ school.name }}"
permalink: "schools/{{ school.index | slug }}/"
---

<div class="usa-section">
	<div class="grid-container"> <!--  margin-0 padding-0 -->
		<div class="grid-row">
			<div class="grid-col padding-x-4 padding-bottom-4">
				<section id="intro">
					<p><a href="/"><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
						<use xlink:href="https://lacmta.github.io/design-system/dist/img/sprite.svg#arrow_back"></use>
					  </svg> Previous</a></p>
					<h1>Yes! {{ school.name }} has GoPass.</h1>
				</section>
				<section id="results-section">
				</section>
			</div>
		</div>
  </div>
</div>



{{ school.phone }}

{{ school.address }}