---
layout: default
pagination:
  data: schools
  size: 1
  alias: school
title: "{{ school.school_name_with_some_districts_attached }}"
permalink: "schools/{{ school.index | slug }}/"
---

{% if school.participating == true %}

<div class="usa-section">
	<div class="grid-container"> <!--  margin-0 padding-0 -->
		<div class="grid-row">
			<div class="grid-col padding-x-4 padding-bottom-4">
				<section id="intro">
					<p><a href="/"><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
						<use xlink:href="{{ '/assets/uswds/img/sprite.svg#arrow_back' | url}}"></use>
					  </svg> Previous</a></p>
					<h1>Yes! {{ school.school_name_with_some_districts_attached }} has GoPass.</h1>
					<p>
						{{ school.phone }}
						<br>
						{{ school.address_y }}
					</p>
				</section>
			</div>
		</div>
  </div>
</div>

{% else %}


{% endif %}