---
layout: results
pagination:
  data: schools
  size: 1
  alias: school
eleventyComputed:
  title: "Metro GoPass Lookup - {{ school.school }}"
permalink: "schools/{{ school.id | slug }}/"
---

{% if school.participating == true %}

  <div class="usa-section flex-1 display-flex flex-row flex-align-center">
    <div class="grid-container">
      <!--  margin-0 padding-0 -->
      <div class="grid-row">
        <div class="grid-col padding-x-4">
          <section id="intro">
            <span class="site-subheading">Students ride free with GoPass</span>
            <h1>Yes!
              <span class="notranslate">{{ school.school | strip }}</span>
              has GoPass :)
            </h1>
            
            {% assign phone_list = schoolPhones | where: 'school', school.school %}
            
            
            <p>
              <strong>To get your GoPass</strong>, call
              <strong><span class="notranslate" id="schoolName">{{ school.school | strip }}</span></strong>
              {% if phone_list[0].phone_list %}
                at <strong id="schoolPhone">{{ phone_list[0].phone_list | separateByPipe }}</strong>{% endif %}.</p>

            <p>Once you have your GoPass, you must activate your card to start riding for free. Instructions will be included with your card.</p>

            <p>
              <strong>
                <a href="/">Look up another school.</a>
              </strong>
            </p>
          </section>
        </div>
      </div>
    </div>
  </div>

{% else %}

  <div class="usa-section flex-1">
    <div class="grid-container">
      <!--  margin-0 padding-0 -->
      <div class="grid-row">
        <div class="grid-col padding-x-4 padding-bottom-4">
          <section id="intro">
            <span class="site-subheading">Students ride free with GoPass</span>
            <h1>No,&nbsp;<span class="notranslate">{{ school.school }}
              </span>&nbsp;does not have GoPass, yet :(</h1>

            <h2>What can you do?</h2>

            <ol style="font-weight: bold;" class="line-height-sans-4">
              <li>
                <strong>
                  <a href="https://metrola.wufoo.com/forms/r1q8nobx1p66b7y/">Let your school know you want GoPass.</a>
                </strong>
              </li>
              <li>
                <strong>
                  Check out other Metro Discounted Passes for
                  <a href="https://www.metro.net/riding/fares/students-k-12/">K-12 students</a>
                  and
                  <a href="https://www.metro.net/riding/fares/collegevocational/">College/Vocational students</a>.
                </strong>
              </li>
              <li>
                <strong>
                  <a href="/">Look up another school.</a>
                </strong>
              </li>
            </ol>
          </section>
        </div>
      </div>
    </div>
  </div>

{% endif %}

<div class="section-highlight">
  <div class="grid-row">
    <div class="tablet:grid-col-4" style="position:relative;">
      <img src="{{ "/img/CW_150807_8767_FPO.jpg" | url }}">
      <div class="image-overlay"></div>
    </div>
    <div class="tablet:grid-col-7 tablet:grid-offset-1 display-flex flex-row flex-align-center padding-x-4 padding-bottom-4">
      <div>
        <h2>Have more questions about GoPass?</h2>
        <p>
          <strong>
            <a href="https://www.metro.net/riding/fares/students-k-12/gopass/">Find answers today.</a>
          </strong>
        </p>
      </div>
    </div>
  </div>
</div>
