---
layout: results
pagination:
  data: schools
  size: 1
  alias: school
eleventyComputed:
  title: "Metro GoPass Lookup - {{ school.school_name_with_some_districts_attached }}"
permalink: "schools/{{ school.index | slug }}/"
---


{% if school.participating == true %} 

<div class="usa-section flex-1 display-flex flex-row flex-align-center">
	<div class="grid-container">
		<!--  margin-0 padding-0 -->
		<div class="grid-row">
			<div class="grid-col padding-x-4">
				<section id="intro">
					<h1>Yes!<br>{{ school.school_name_with_some_districts_attached }} has GoPass :)</h1>

					<p><strong>To get your GoPass</strong>,<br>call <strong>{{
							school.school_name_with_some_districts_attached }}</strong> at <strong>{{ school.phone
							}}</strong>.</p>

					<p>Once you have your GoPass, you must activate your card to start riding for free. Instructions
						will be included with your card.</p>

					<p><strong><a href="/">Look up another school.</a></strong></p>
				</section>
			</div>
		</div>
	</div>
</div>

{% else %}

<div class="usa-section flex-1">
	<div class="grid-container">
		<!--  margin-0 padding-0 -->
		<div class="grid-row">
			<div class="grid-col padding-x-4 padding-bottom-4">
				<section id="intro">
					<h1>No,<br>{{ school.school_name_with_some_districts_attached }} does not have GoPass, yet :(</h1>

					<h2>What can you do?</h2>

					<ol>
						<li><a href="#">Let your school know you want GoPass</a>.</li>
						<li><a href="#"></a>Check out other Metro Discounted Passes</a>.</li>
						<li><a href="/"></a>Look up another school.</a></li>
					</ol>
				</section>
			</div>
		</div>
	</div>
</div>

{% endif %}

<div class="section-highlight">
	<div class="grid-row">
		<div class="tablet:grid-col-4" style="position:relative;">
			<img src="{{ "/img/CW_150807_8767_FPO.jpg" | url }}">
			<div class="image-overlay">
			</div>
		</div>
		<div class="tablet:grid-col-7 tablet:grid-offset-1 display-flex flex-row flex-align-center padding-x-4 padding-bottom-4">
			<div>
				<h2>Have more questions about GoPass?</h2>
				<p><strong><a href="#">Find answers today.</a></strong></p>
			</div>
		</div>
	</div>
</div>
